@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<div class="content-wrapper">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh Sach Benh Nhan</h4>
                    <div class="table-responsive">
                        <table id="dsLK" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Ma Benh Nhan
                                    </th>
                                    <th>
                                        Ten Benh Nhan
                                    </th>
                                    <th>
                                        Ngay Sinh
                                    </th>
                                    <th>
                                        Gioi Tinh
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bn in ViewBag.benhnhans)
                                {
                                    <tr>
                                        <td class="py-1">
                                            @bn.Mabn
                                        </td>
                                        <td>
                                            @bn.Tenbn
                                        </td>
                                        <td>
                                            @bn.Ngaysinh.ToString("MM/dd/yyyy")
                                        </td>
                                        <td>
                                           @bn.Gioitinh.ToUpper()
                                        </td>
                                        <td>
                                            <a asp-area="admin" asp-controller="benhnhan" asp-action="searchLSKBn" asp-route-id="@bn.Mabn">
                                                <button type="button" class="btn btn-inverse-success btn-fw">Xem Lich Su Kham Benh</button>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>


<script type="text/javascript">
    $(document).ready(function(){

        $(document).on('click', '#SearchDateBtn', function (e) {
            e.preventDefault();
            var start = $("#from").val();
            var end = $("#to").val();
            fetchLichKham(start, end);
        });

    $(function () {
        var dateFormat = "mm/dd/yy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) 
            {
                date = null;
            }

            return date;
        }
    });
       
    function fetchLichKham(start, end) {
            var idBacsi = $('#idBacsi').val();
            $.ajax({
                type: 'GET',
                url: '/admin/bacsi/fetchLichKham',
                data: {
                    id: idBacsi,
                    start: start,
                    end: end
                },
                success: function(data) {
                    var html = "";
                    $.each(data.lichkhams, function (i, lk) {
                     html += '<tr><td class="py-1">';
                     html += lk.id;
                        html += '</td>';
                        html += '<td>' + lk.bacsi + '</td>';
                        html += '<td>' + lk.bennhan + '</td>';              
                        var nk = new Date(lk.ngaykham);
                        html += '<td>' + (nk.getMonth()+1) + '/' + nk.getDate() + '/' + nk.getFullYear() + '</td>';
                        html += '<td>' + lk.noidung + '</td></tr>';
                    });
                    $('#dsLK tbody').html(html);
                }
            });
        }
    });       
</script>
