@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<div class="content-wrapper">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    @{
                        var ben = ViewBag.ben;
                    }
                    <h4 class="card-title">Lich kham cua ben nhan @ben.Tenbn.ToUpper()</h4>
                    <p class="card-description">
                        <a asp-area="admin" asp-controller="benhnhan" asp-action="index">
                            <button type="button" class="btn btn-primary mr-2">Back</button>
                        </a>
                    </p>
                    <div class="table-responsive">
                        <table id="dsLK" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Bac Si
                                    </th>
                                    <th>
                                        Ngay Kham
                                    </th>
                                    <th>
                                        Noi Dung
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lk in ViewBag.lsKhams)
                                {
                                    <tr>
                                        <td class="py-1">
                                            @lk.Id
                                        </td>
                                        <td>
                                           @lk.Bacsi.Tenbs
                                        </td>
                                        <td>
                                            @lk.Ngaykham.ToString("MM/dd/yyyy")
                                        </td>
                                        <td>
                                            @lk.Noidung
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>


<script type="text/javascript">
    $(document).ready(function(){

        $(document).on('click', '#SearchDateBtn', function (e) {
            e.preventDefault();
            var start = $("#from").val();
            var end = $("#to").val();
            fetchLichKham(start, end);
        });

    $(function () {
        var dateFormat = "mm/dd/yy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) 
            {
                date = null;
            }

            return date;
        }
    });
       
    function fetchLichKham(start, end) {
            var idBacsi = $('#idBacsi').val();
            $.ajax({
                type: 'GET',
                url: '/admin/bacsi/fetchLichKham',
                data: {
                    id: idBacsi,
                    start: start,
                    end: end
                },
                success: function(data) {
                    var html = "";
                    $.each(data.lichkhams, function (i, lk) {
                     html += '<tr><td class="py-1">';
                     html += lk.id;
                        html += '</td>';
                        html += '<td>' + lk.bacsi + '</td>';
                        html += '<td>' + lk.bennhan + '</td>';              
                        var nk = new Date(lk.ngaykham);
                        html += '<td>' + (nk.getMonth()+1) + '/' + nk.getDate() + '/' + nk.getFullYear() + '</td>';
                        html += '<td>' + lk.noidung + '</td></tr>';
                    });
                    $('#dsLK tbody').html(html);
                }
            });
        }
    });       
</script>
